body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

canvas {
    border: 2px solid #333333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#savedImages {
    border: 2px solid #333333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.savedImage {
    width: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

input[type="color"] {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #333;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}
